body {
	background-color:#fff;
	font-family:omnes_medium, Arial, "Trebuchet MS", sans-serif;
	font-size:87.5%;
	line-height:24px;
	margin:0;
	padding:0;
	overflow-x:hidden;
	display:block;
	vertical-align:baseline;
	z-index:750;
}
.header-color {
	background-color:#008000;
}
.header-font-style  {
	color:#ffffff;
	font-size:20px;
}
.navbar-brand {
	font-family:Brush Script MT;
	font-weight:bold;
	font-size:35px;
}
.navbar-brand small {
  display:block;
  font-size:16px;
  font-family:omnes_medium, Arial, "Trebuchet MS", sans-serif;
}
.header-font-bold {
	font-weight:bold;
}
.header-font-small {
	font-size:12px;
}
a {
	color:#fff;
}
.break-style {
	margin-top:12px;
}
.icon-addon .form-control {
    border-radius:20px;
}
.icon-addon {
    position: relative;
    color: #555;
    display: block;
}
.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}
.icon-addon:after {
    clear: both;
}
.icon-addon .glyphicon,
.icon-addon.addon-sm .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
	margin-top:12px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}
.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 40px;
    font-size: 12px;
    line-height: 1.5;
	margin-top:12px;
}
.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}
.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon {
    color: #2580db;
}
.glyphicon-shopping-cart {
	margin-top:16px;
	padding-right:20px;
	font-size:20px;
	color:#ffffff;
}
.icon-flipped {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}
footer .row {
	text-align:left;
	font-size:15px;
}
#left-menu {
	border:15px groove #008000;
	width:95px;
	margin-left:100px;
}
#left-menu .social-icons {
	padding:10px 10px 10px 10px;
}
#slides_control > div{
  height: 400px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}