<div class="container text-center">    
	<h2>M &#38 B eStore</h2>
	<div style="padding-left:300px">
		<div class="panel panel-default" style="width:500px" >
            <div class="panel-body">
                <form role="form" style="padding:20px;">
					<h2 style="float:left;padding-top:0px;">Sign In</h2>
					<div class="form-group" style="clear:left;">
                        <label for="email" style="float:left; padding-top:20px; font-size:20px" >Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<div class="form-group">
                        <label for="pwd" style="float:left; font-size:20px" >Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
					</div>
      
					<input type="button" class="form-control" value="Sign In" style="background-color: #66ccff;color:black;" >
					<div class="checkbox">
						<p style="color:greay;">New to Movie Store?</p>
					</div>
					<input type="button" class="form-control" value="Creat an account" style="background-color: #EBEBE6;color:black;" >
      
					<div style=" margin-top:50px; text-align:left;">

						<p>By signing in you are agreeing to our <a>Conditions of Use and Sale</a> and our <a>Privacy Notice.</a></p>
					</div>
                    
                </form>
                
            </div>
         
        </div>

    </div>
        
 
    
</div>
