<div class= "row">
	    <div class="col-sm-4"> 
            <div class="container">
            <img ng-src = "{{x.image}}" class="img-thumbnail" alt="Cinque Terre"  width="150px" > 
            </div>                 
        </div>    
        <div class="col-sm-6"> 
             
            <b>{{ x.Title }}</b> 
           <h3> {{ x.Genres }}</h3>
           <p id= "price">{{person.price | currency}}</p>
            <p id = "dis" >{{x.Description}}</p>
        </div>
	    <div class= "col-sm-2">
        <a href="#" ng-click = "cart.addItem(book.sku, book.Tittle, book.price, 1 ) "class="btn btn-info" role="button">add to cart</a>    
        </div>
    </div>    
	     